::selection {
  background: #9BD219;
}
@font-face {
  font-family: 'EuclidLight';
  src: url('../fonts/EuclidSquare-Light.otf');
}
@font-face {
  font-family: 'EuclidMedium';
  src: url('../fonts/EuclidSquare-Medium.otf');
}
@font-face {
  font-family: 'EuclidSemibold';
  src: url('../fonts/EuclidSquare-Semibold.otf');
}
@font-face {
  font-family: 'EuclidBold';
  src: url('../fonts/EuclidSquare-Bold.otf');
}
body {
  font-size: 16px;
  font-family: 'EuclidMedium', 'Arial', sans-serif;
  line-height: 24px;
  color: #144735; 
  background: #FFF;
  cursor: default;
}
a {
  color: #144735;
  transition: all 0.3s;
  text-decoration: none;
}
a:hover {
  color: #47A14D;
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 12px 30px 14px;
  outline: none !important;
  border: none;
  box-sizing: border-box;
  color: #fff;
  background: #9BD219;
  border-radius: 0;
  transition: all 0.2s;
  color: #FFF;
}
.btn:hover {
  color: #FFF;
  background: #47a14d;
  box-shadow: 0 12px 40px rgba(71,161,77,0.2);
}
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
.btn.pulse {
  position: relative;
  overflow: hidden;
}
.pulse:before, .pulse:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 0;
  margin: auto;
  transition: all 0.3s;
}
.pulse:before {
  animation: pulse 1.5s infinite linear;
}
.pulse:after {
  animation: pulse 2s .4s infinite linear;
}
.pulse:hover:before,
.pulse:hover:after {
  background: rgba(255, 255, 255, 0.0);
}
.btnline {
  display: inline-block;
}
.btnline:after {
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  margin: 0 auto;
  background: #9BD219;
  transition: all 0.3s;
}
.btnline:hover:after {
  width: 80%;
  height: 4px;
  background: #47a14d;
}
h1 {
  font-size: 44px;
  font-family: 'EuclidSemibold';
  line-height: 54px;
}
h2 {
  width: 100%;
  margin: 73px 0 38px;
  text-align: center;
  line-height: 33px;
  font-size: 26px;
  font-family: 'EuclidMedium';
}
sup {
  font-size: 12px;
}



/*HEADER*/

#header {
  position: fixed;
  width: 100%;
  min-height: 95px;
  z-index: 200;
  background: #FFF;
  box-shadow: 0 12px 40px rgba(71,161,77,0.1);
}
#header a.logotype {
  display: block;
  float: left;
  width: 170px;
  height: 35px;
  margin: 30px 0;
  background: url(../img/logotype.svg) no-repeat center;
  background-size: 100%;
}
#header ul.nav {
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  justify-content: space-around;
  list-style: none;
}
#header ul.nav li {
  display: inline;
}
#header ul.nav li a {
  display: inline-block;
  padding: 0 0 36px;
  font-size: 14px;
}
@media (max-width: 1200px) {
  #header ul.nav {
    padding: 0 30px;
  }
  #header ul.nav li a {
    font-size: 13px;
  }
}
#header ul.nav li a:before {
  display: block;
  width: 100%;
  height: 4px;
  margin: 0 auto 31px;
  content: '';
  background: #FFF;
  transition: all 0.3s;
}
#header ul.nav li a.active {
  color: #9BD219;
}
#header ul.nav li a.active:before {
  width: 100%;
  background: #9BD219;
}
#header a.phone {
  display: block;
  float: right;
  margin: 0 0 0 0;
  padding: 1px 0 0 25px;
  font-size: 15px;
  font-family: 'EuclidSemibold';
  letter-spacing: 0.05em;
  background: url(../img/icon-phone.svg) no-repeat center left;
}
#header a.phone:hover {
  color: #00830e;
}
@keyframes shadow-pulse
  {
  0% {
    box-shadow: 0 0 0 0px rgba(155, 210, 25, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(155, 210, 25, 0);
  }
}
#header .navbar {
  padding: 0;
}
#header .navbar-toggler {
  width: 26px;
  height: 20px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  outline: none;
}
#header .navbar-toggler span {
  display: block;
  position: absolute;
  width: 24px;
  height: 2px;
  background: #9BD219;
  transition: all 0.1s;
}
#header .navbar-toggler span.top {
  margin: -9px 0 0;
}
#header .navbar-toggler span.bottom {
  margin: 9px 0 0;
}
@media (max-width: 991px) {
  #header a.phone {
    position: absolute;
    top: 0;
    right: 0;
    margin: 34px 60px 0 0px;
    width: 28px;
    height: 28px;
    padding: 0;
    font-size: 0px;
    overflow: hidden;
    color: transparent;
    background-size: 100%;
    border-radius: 100px;
    animation: shadow-pulse 1s infinite;
  }
  #header ul.nav {
    padding: 0 0 40px;
  }
  #header ul.nav li a {
    display: block;
    padding: 0 0 0 40px;
    line-height: 50px;
    font-size: 16px;
  }
  #header ul.nav li:before {
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    margin: 25px 0 0 5px;
    content: "";
    background: #9BD219;
  }
  #header ul.nav li a:before {
    display: none;
  }
  #header ul.nav li a.active {
    color: #144735;
  }
}



/*COVER*/

.cover {
  height: 645px;
  padding: 95px 0 0;
  background: #69762D url(../img/bg-head.png) no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  animation-delay: 0.5s;
}
.cover h1 {
  margin: 150px 0 70px;
  color: #FFF;
}
.cover .btn {
  float: left;
}
.cover a.btnline {
  margin: 12px 0 0 40px;
  color: #FFF;
}
@media (max-width: 991px) {
  .cover,
  .cover .container,
  .cover .row {
    height: 100vh;
  }
  .cover {
    padding: 0;
  }
  .cover h1 {
    margin: 0 0 50px;
    text-align: center;
  }
  .cover .case {
    position: relative;
    width: 290px;
    height: 220px;
    top: 50%;
    margin: -170px auto 0;
    text-align: center;
  }
  .cover .case .btn.pulse {
    float: none;
    margin: 0 40px;
  }
  .cover .case .btnline {
    margin: 20px 0 0 0;
  }
}



/*RECORDS*/

#records {
  animation-delay: 1s;
}
#records .row {
  margin-left: 0;
  margin-right: 0;
}
#records .col-md-3 {
  padding-left: 0;
  padding-right: 0;
}
#records .item .box {
  height: 200px;
  padding: 40px;
  background: #9BD219;
  overflow: hidden;
  transition: all 0.7s;
  color: #FFF;
}
#records .item:hover .box {
  height: 480px;
  background: #47A14D;
}
#records .item .image {
  height: 280px;
  overflow: hidden;
  transition: all 0.7s;
}
#records .item:hover .image {
  height: 0px;
}
#records .item .box span {
  display: block;
  transition: all 0.3s;
}
#records .item .box span.second sup {
  font-size: 16px;
}
#records .item .box span.second {
  margin: 80px 0 0;
  font-family: 'EuclidLight';
  font-size: 30px;
  opacity: 0;
  transition: all 0.9s;
}
#records .item .box.inv span.second {
  margin: 280px 0 0;
}
#records .item:hover .box span.second {
  margin: 330px 0 0;
  opacity: 1;
}
#records .more {
  padding: 35px 0 80px;
  text-align: center;
}
#records .item.delay01 {
  animation-delay: 0.1s;
}
#records .item.delay02 {
  animation-delay: 0.2s;
}
#records .item.delay03 {
  animation-delay: 0.3s;
}
#records .item.delay04 {
  animation-delay: 0.4s;
}
@media (max-width: 991px) {
  #records {
    animation-delay: 0s;
  }
  #records .item .image {
    display: none;
  }
  #records .item .box {
    height: 170px;
    transition: all 0.3s;
  }
  #records .item .box.inv {
    background: #47A14D;
  }
  #records .item .box span.second,
  #records .item .box.inv span.second {
    margin: 10px 0 0;
    opacity: 1;
  }
  #records .item.delay01,
  #records .item.delay02,
  #records .item.delay03,
  #records .item.delay04 {
    animation-delay: 0s;
  }
}



/*THESES*/

#theses {
  padding: 110px 0;
  text-align: center;
  background: #F7F8F3;
}
#theses .image {
  width: 72px;
  height: 72px;
  margin: 0 auto;
}
#theses strong {
  display: block;
  width: 100%;
  margin: 20px 0 60px;
  font-size: 30px;
  font-family: 'EuclidBold';
  line-height: 38px;
}



/*FORKIDS*/

#forkids .col-md-6 {
  padding-left: 0;
  padding-right: 0;
}
#forkids .item {
  float: left;
  display: flex;
  align-items: center;
  width: 50%;
  height: 110px;
  background: #9BD219;
  color: #FFF;
}
#forkids .item.second {
  background: #97CE17;
}
#forkids .item img {
  margin: 0 0 0 40px;
}
#forkids .item span {
  display: block;
  margin: 0 0 0 30px;
  line-height: 20px;
}
#forkids .item .description {
  position: absolute;
  display: flex;
  align-items: center;
  width: 50%;
  height: 110px;
  z-index: 5;
  background: #47A14D;
  font-size: 14px;
  line-height: 22px;
  opacity: 0;
  transition: all 0.3s;
}
#forkids .item .description span {
  margin: 0 40px 0;
}
#forkids .item .description.opened {
  opacity: 1;
}
@media (max-width: 991px) {
  #forkids .item {
    width: 100%;
  }
  #forkids .item.second {
    background: #9BD219;
  }
  #forkids .item:nth-child(2n) {
    background: #97CE17;
  }
  #forkids .item span {
    margin: 0 0 0 45px;
  }
  #forkids .item .description {
    width: calc(100% - 110px);
    height: 110px;
    margin: 0 0 0 110px;
  }
  #forkids .item .description:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(71, 161, 77, 0);
    border-right-color: #47A14D;
    border-width: 8px;
    margin-top: -8px;
  }
}
#forkids .image {
  overflow: hidden;
}